/* EX 1 */
 /* #container{
    display: grid;
    grid-template-rows: 20vw;
    grid-template-columns: 20vw 20vw 20vw;
    gap: 20px;
}
#quadrado1{
background-color: rgb(208, 255, 0);
}
#quadrado2{
background-color: rgb(87, 29, 29);
}
#quadrado3{
background-color: rgb(155, 103, 125);
} */

/* EX 2 */


/* #botao {
    height: 10vw;
    width: 10vw;
} */
/* EX 3 */

 /* #frase {
    display: none; 
} */

/* EX 4*/




 /* Ex 5 */
 
 /* Ex 6  */
 